<h1><%= @post.title %></h1>
<h2><%= link_to "#{@author.name}", @author %></h2>
<p><%= @post.body %></p>

<% if @author == current_user %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>

<%= link_to "Back to All Posts", posts_path %>
