<h2><%= @post.title %></h2>
<h3><%= link_to "#{@author.name}", @author %></h3>
<p><%= @post.body %></p>

<% if @author == current_user %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>

<% @comments.each do |comment| %>

 <%= render partial: "comments/show", locals: {comment: comment} %>

<% end %>

<%= render 'comments/new' %>
